
<div class="row m-4">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="col-md-12">
        <% if !@job.images.empty? %>
          <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-mdb-interval="2000">
                <%= image_tag @job.images.first, class: "d-block w-100" %>
              </div>
              <% @job.images.each_with_index do |image, index| %>
                <% if (index != 0) %>
                  <div class="carousel-item" data-mdb-interval="2000">
                    <%= image_tag image, class: "d-block w-100" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <button
              class="carousel-control-prev"
              data-mdb-target="#carouselExampleInterval"
              type="button"
              data-mdb-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              data-mdb-target="#carouselExampleInterval"
              type="button"
              data-mdb-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
      </div>

      <div class="card-body">
        <div class="card-text">
          <div class="row">
            <div class="col">
              <span class="show-job-author"><%= @job.job_author %></span>
              <span class="show-website">
                <% job_url = @job.url.to_s %>
                <a href="<%= @job.url.to_s %>" target="_blank">
                  <i class="fas fa-external-link-square-alt"></i>
                </a>
              </span>
              <br>
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <span>Views: </span>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                  <span>Likes: </span>-->
<!--                </div>-->
<!--              </div>-->

              <h1 class="mb-0" style="display: inline"><%= @job.title %></h1> | <h5 style="display: inline"><%= @job.industry %></h5>
              <h6><%= "Remote |" if @job.remote_ok %> <%= @job.location %></h6>
              <h6><%= @job.job_type.capitalize %></h6>
              <h6><%= @job.salary_range %></h6>
              <h6><strong>Start Date: </strong><%= @job.start_date.strftime("%B %d, %Y") %></h6>
            </div>
            <div class="col-md-4">
              <%= link_to "Apply Here", "#{@job.apply_url.to_s}", target: "_blank", class: 'btn-link show-apply-here' %>
              <div class="show-div-tag-cloud">
                <% @job.tag_list.each do |tag| %>
                <span class="show-tag-cloud">
                  <%= link_to tag, tag_path(tag: tag) %>
                </span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="show-job-created">
                Posted: <%= @job.created_at.strftime("%B %d, %Y") %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div id="show-map"
                   data-jobs="<%= @geojson.to_json %>"
                   data-mapbox-api-key="<%= Rails.application.credentials.dig(:mapbox, :public_api_key) %>">
              </div>
            </div>
          </div>

          <p>
            <%= @job.description %>
          </p>
          <p>
            <% if @related_jobs %>
              <% @related_jobs.each do |r| %>
                <li><%= link_to r.title, r %></li>
              <% end %>
            <% end %>
          </p>
          <div class="row">
            <div class="col">
              <div class="back-btn-jobs p-2 text-center">
                <%= link_to 'Back', jobs_path, class: "btn-link back-btn-jobs" %>
              </div>
            </div>
            <div class="col">
              <% if current_user.id == @job.user_id %>
                <div class="edit-btn-jobs p-2 text-center">
                  <%= link_to 'Edit', edit_job_path(@job), class: "btn-link edit-btn-jobs" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-1"></div>
</div>


