
<div class="row m-4">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="col-md-12">
        <% if !@job.images.empty? %>
          <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-mdb-interval="2000">
                <%= image_tag @job.images.first, class: "d-block w-100" %>
              </div>
              <% @job.images.each_with_index do |image, index| %>
                <% if (index != 0) %>
                  <div class="carousel-item" data-mdb-interval="2000">
                    <%= image_tag image, class: "d-block w-100" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <button
              class="carousel-control-prev"
              data-mdb-target="#carouselExampleInterval"
              type="button"
              data-mdb-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              data-mdb-target="#carouselExampleInterval"
              type="button"
              data-mdb-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
      </div>

      <div class="card-body">
        <div class="card-text">

          <p>
            <h1><%= @job.job_author %></h1>
            <h4><%= @job.title %></h4>
            <p>
              <% @job.tag_list.each do |tag| %>
                <%= link_to tag, tag_path(tag: tag) %>
              <% end %>
            </p>
            <%= "Remote" if @job.remote_ok %> | <em><%= link_to "Website", @job.url, target: "_blank" %></em>
          </p>
          <p>
            <h4><%= @job.job_type %></h4>
          </p>

          <p>
            <h4><%= @job.location %></h4>
          </p>

          <p>

          </p>

          <p>

          </p>

          <p>
            <%= link_to "Apply here", "http://#{@job.apply_url}", target: "_blank" %>
          </p>
          <p>
            <%= @job.description %>
          </p>
          <p>
            <% if @related_jobs %>
              <% @related_jobs.each do |r| %>
                <li><%= r.title %></li>
              <% end %>
            <% end %>
          </p>
          <%= link_to 'Edit', edit_job_path(@job) %> |
          <%= link_to 'Delete', job_path(@job), :confirm => "Are you sure?", :method => :delete %> |
          <%= link_to 'Back', jobs_path %>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-1"></div>
</div>


