<p id="notice"><%= notice %></p>
    <% @projects.each do |project| %>
      <%= link_to 'Show', project %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<br>

<%= link_to 'New Project', new_project_path %>



<div class="row m-2">
  <%= render partial: "shared/project_search_form" %>

  <div id="projects">
    <% @projects.each_slice(4) do |projects| %>
      <div class="row">
        <% projects.each do |project| %>
            <div class="col">
              <div class="card p-0 mb-4">
                <% if project.images.attached? %>
                  <%= link_to project do %>
                    <%= image_tag project.images.first, class: "card-img-top" %>
                  <% end %>
                <% end %>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h1 class="p-2 card-title"><%= link_to project.title, project %></h1>
                    </div>
                  </div>

                  <div class="row p-1">
                    <div class="col">
                    <span class="parent-likes">
                      <span>
                      <i class="far fa-eye">
                        <%= project.impressionist_count %>
                      </i>
                      </span>
                      <br>
                      <span class="likes">
                        <i class="far fa-heart">
                          <%= project.get_upvotes.size %>
                        </i>
                      </span>
                    </span>
                    </div>
                  </div>

                  <p class="card-text">
                  <div class="show-jobs-description">
                    <%= project.description.to_plain_text.truncate(250) %>
                  </div>
                  <% project.tag_list.each do |tag| %>
                  <span class="show-tag-cloud float-start">
                    <%= link_to tag, tag_path(tag: tag) %>
                  </span>
                  <% end %>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <i class="fas fa-file-contract p-2">
                      <%= project.start_date.strftime("%d / %m / %Y") %>
                    </i>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-map-marker-alt p-2">
                      <%= project.end_date.strftime("%d / %m / %Y") %>
                    </i>
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-user p-2">
                      <%= project.user.username %>
                    </i>
                  </li>
                </ul>
              </div>
            </div>

        <% end %>
      </div>
    <% end %>
  </div>

</div>



