<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to "Solos", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if current_page?(jobs_path) %>
            <%= link_to "Jobs", jobs_path, class: "nav-link active", "aria-current" => "jobs" %>
          <% else %>
            <%= link_to "Jobs", jobs_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_page?(projects_path) %>
            <%= link_to "Projects", projects_path, class: "nav-link active", "aria-current" => "projects" %>
          <% else %>
            <%= link_to "Projects", projects_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_page?(companies_path) %>
            <%= link_to "Companies", companies_path, class: "nav-link active", "aria-current" => "companies" %>
          <% else %>
            <%= link_to "Companies", companies_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_page?(map_path) %>
            <%= link_to "Map", map_path, class: "nav-link active", "aria-current" => "map" %>
          <% else %>
            <%= link_to "Map", map_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if current_user %>
          <% if current_user.role == "Employer" %>
            <li class="nav-item p-1">
              <%= link_to "+ Post Job", new_job_path, class: "nav-link post-job-btn", "aria-current" => "page" %>
            </li>
            <li class="nav-item p-1">
              <%= link_to '+ Project', new_project_path, class: "nav-link post-project-btn", "aria-current" => "page" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to current_user.username, edit_user_registration_path, class: 'dropdown-item' %>
              </li>
              <li>
                <% if current_user.role == "Employer" %>
                  <%= link_to "My Jobs", my_jobs_path, class: 'dropdown-item' %>
                <% end %>
              </li>
              <li>
                <% if current_user.is_admin %>
                  <%= link_to "Admin", admin_path, class: 'dropdown-item' %>
                <% end %>
              </li>
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'Terms of Service', terms_path, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Terms of Service', terms_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

